[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
thoth-python = {git = "https://github.com/bissenbay/python.git",ref = "hash-calc"}
click = "<6.7"
thoth-analyzer = "*"
thoth-common = "*"

[requires]
python_version = "3.6"
